/*Custom Navbar Styling*/
nav {
    color: #fff;
    width: 100%;
    height: 110px;
    line-height: 110px;
}
nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 4.2rem;
    padding: 0;
    white-space: nowrap;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0%;
        -webkit-transform: translateX(-0%);
        -moz-transform: translateX(-0%);
        -ms-transform: translateX(-0%);
        -o-transform: translateX(-0%);
        transform: translateX(-0%);
    }
}
